<!DOCTYPE html>
<html>
<head>
    <title>Movie Recommender</title>
</head>
<body>
    <h1>Movie Recommendation System</h1>
    <form action="/recommend" method="POST">
        <label>Genres:</label>
        <input type="text" name="genres" placeholder="Enter genres"><br>
        <label>Actors:</label>
        <input type="text" name="actors" placeholder="Enter actors"><br>
        <label>Directors:</label>
        <input type="text" name="directors" placeholder="Enter directors"><br>
        <label>Keywords:</label>
        <input type="text" name="keywords" placeholder="Enter keywords"><br>
        <input type="submit" value="Get Recommendations">
    </form>
</body>
</html>
